@media only screen and (max-height: 1080px) {
    canvas {
        height: 100vh;
        border-radius: unset;
    }

    .start_menu {
        height: 100vh;
        border-radius: unset;
    }
}

@media (max-height: 900px) {
    .impressum_content {
        height: 78%;
    }

    .impressum {
        height: 74%;
        overflow-y: scroll;
    }

    .impressum_button {
        padding-left: 16px;  
    }
}

@media only screen and (max-width: 1920px) {
    canvas {
        width: 100%;
        border-radius: unset;
    }

    .start_menu {
        width: 100%;
        border-radius: unset;
    }
}

@media (max-width: 1480px) {
    .leader_board_place {
        height: 17%;
    }
}

@media (max-width: 1400px) {
    .headline {
        font-size: 60px;
    }

    .row_headline {
        font-size: 60px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    nav {
        height: calc(100% - 40px);
        width: calc(100% - 20px);
        margin-left: 20px;
    }

    .start_content {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
    }

    .menu_btn {
        width: 250px;
        height: 67px;
    }

    .btn_style {
        border-radius: 16px;
        font-size: 20px;
    }

    .place_number {
        font-size: 28px;
    }

    .player_id {
        font-size: 28px;
    }

    .score {
        font-size: 28px;
    }

    .total_pt {
        font-size: 28px;
    }

    .game_option_text {
        font-size: 28px;
    }

    .options_btn {
        width: 180px;
        height: 72px;
    }

    .impressum_content {
        font-size: 24px;
    }
}

@media (max-width: 1250px) {
    .place_number {
        font-size: 24px;
    }

    .player_id {
        font-size: 24px;
    }

    .score {
        font-size: 24px;
    }

    .total_pt {
        font-size: 24px;
    }

    .instructions_headline {
        width: 220px;
    }

    .instructions_headline_2 {
        width: 120px;
    }
}

@media (max-width: 1150px) {
    .headline {
        font-size: 48px;
    }

    .row_headline {
        font-size: 48px;
        margin-left: 12px;
    }

    nav {
        height: calc(100% - 20px);
        width: calc(100% - 10px);
        margin-left: 10px;
    }

    .start_content {
        height: calc(100% - 20px);
        width: calc(100% - 20px);
    }

    .board {
        margin-left: 16px;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
    }

    .menu_btn {
        width: 220px;
        height: 59px;
    }

    .options_btn {
        width: 160px;
        height: 54px;
    }

    .btn_style {
        font-size: 16px;
        border: 3px solid white;
    }

    .leader_board_place {
        height: 15%;
    }

    .place_number {
        font-size: 22px;
    }

    .player_id {
        font-size: 22px;
    }

    .score {
        font-size: 22px;
    }

    .total_pt {
        font-size: 22px;
    }

    form {
        padding-left: 16px;
    }

    .game_option {
        height: 28%;
    }

    .game_option_text {
        font-size: 22px;
    }

    .impressum_content {
        font-size: 22px;
    }

    .game_instructions_content {
       padding-left: 16px;
    }

    .arrows_container {
        width: 60px;
        height: 60px;
        font-size: 22px;
        border: 3px solid white;
    }

    .space_container {
        width: 260px;
        height: 60px;
        font-size: 22px;
        border: 3px solid white;
    }
}

@media (max-width: 900px) {
    .headline {
        font-size: 36px;
    }

    .row_headline {
        font-size: 36px;
    }

    .menu_btn {
        width: 200px;
        height: 54px;
    }

    .btn_style {
        font-size: 12px;
    }

    .leader_board_place {
        height: 13%;
    }

    .place_number {
        font-size: 16px;
    }

    .player_id {
        font-size: 16px;
    }

    .score {
        font-size: 16px;
    }

    .total_pt {
        font-size: 16px;
    }

    .game_option_text {
        font-size: 16px;
    }

    .impressum_content {
        font-size: 16px;
    }

    .impressum {
        padding-left: 16px;
        height: 74%;
    }
    
    .impressum_button {
        padding-left: 16px;  
    }

    .game_instructions_row {
        height: 39%;
        gap: 8px;
    }

    .instructions_headline {
        width: 100px;
    }

    .instructions_headline_2 {
        width: 60px;
    }

    .arrows_container {
        width: 34px;
        height: 34px;
        border-radius: 10px;
    }

    .space_container {
        width: 180px;
        height: 34px;
        border-radius: 10px;
    }
}