.message_Box {
    width: 890px;
    height: 480px;
    background-color: var(--message-box-bg-color);
    position: absolute;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.message_Box_Content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.message_Box_Headline_Container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_Box_Headline {
    font-size: 80px;
    font-family: var(--font-bowelby-one);
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}

.message_Box_Content_Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.message_Box_Coin_Container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.message_Box_Picure_Container {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_Box_Form_Container {
    width: 100%;
    height: 200px;
}

.message_Box_Buttons_Container {
    width: 100%;
    height: 100px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_Over_Picture {
    width: 500px;
    height: 500px;
}

.message_Box_Coin {
    width: 80px;
    height: 80px;
}

.resume_Game_Picture {
    margin-top: -80px;
   height: 300px;
}

.message_Box_Text {
    font-family: var(--font-bowelby-one);
    font-size: 48px;
    color: white;
}


.game_Win {
    width: var(--game-window-width);
    height: var(--game-window-height);
    border-radius: var(--border-radius);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

.game_Win_Picture {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: var(--border-radius);
}

.score_Input_Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.score_Input_Box {
    font-family: var(--font-bowelby-one);
    font-size: 48px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_Input {
    height: 80px;
    width: 156px;
    font-family: var(--font-bowelby-one);
    font-size: 48px;
    color: var(--btn-bg-color);
    border: none;
    border-bottom: 3px white solid;
    background-color: transparent;
    text-align: center;
}

.form_Input:focus {
    background-color: transparent;
    outline: none;
}


.scale-in-center {
    animation: scale-in-center 400ms ease-in-out forwards;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}