.messageBox {
    width: 890px;
    height: 480px;
    background-color: var(--message-box-bg-color);
    position: absolute;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.messageBoxContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.messageBoxHeadlineContainer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageBoxHeadline {
    font-size: 80px;
    font-family: var(--font-bowelby-one);
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}

.messageBoxContentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.messageBoxCoinContainer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.messageBoxPicureContainer {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageBoxFormContainer {
    width: 100%;
    height: 200px;
}

.messageBoxButtonsContainer {
    width: 100%;
    height: 100px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameOverPicture {
    width: 500px;
    height: 500px;
}

.messageBoxCoin {
    width: 80px;
    height: 80px;
}

.resumeGamePicture {
    margin-top: -80px;
   height: 300px;
}

.messageBoxText {
    font-family: var(--font-bowelby-one);
    font-size: 48px;
    color: white;
}


.gameWin {
    width: var(--game-window-width);
    height: var(--game-window-height);
    border-radius: var(--border-radius);
    position: absolute;
    margin-bottom: -55px;
    background: rgba(0, 0, 0, 0.6);
}

.gameWinPicture {
    width: var(--game-window-width);
    height: var(--game-window-height);
    border-radius: var(--border-radius);
}


.scoreInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.scoreInputBox {
    font-family: var(--font-bowelby-one);
    font-size: 48px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formInput {
    height: 80px;
    width: 156px;
    font-family: var(--font-bowelby-one);
    font-size: 48px;
    color: var(--btn-bg-color);
    border: none;
    border-bottom: 3px white solid;
    background-color: transparent;
    text-align: center;
}

.formInput:focus {
    background-color: transparent;
    outline: none;
}


.scale-in-center {
    animation: scale-in-center 400ms ease-in-out forwards;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}